header{
    position: fixed;
    width: 100%; 
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
   
}
.ba-header-topline{
    color:#dcdbdb;
    display: flex;
    font-size: 13px;
    font-weight: 300; 
    background:$body-background;
   
    &--medium{
        font-weight: 400;
        color:$header-link;
        font-size: 16px;
    }
    &_currency, &__schedule,&__handset, &__sing_in{
        list-style:none;
        display: flex;
     
    }
    &_currency{
        margin-right:60px;
       li:first-child{
            padding-right:5px;
        }
        position: relative;
        @include breakpoint(large){
            margin-right:65px;
        }
    }
    &__schedule{
        @include breakpoint(large){
            margin-right:45px;
        }
      

        li{
            margin-right:13px;
        }
    }
    &__handset{
        li:first-child{
            margin:0 0 0 -30px;
        }
        li{
            margin:0 0 0 10px;
           
        }
       
    }
    &__phone {
        line-height:1;
        list-style:none;
        font-size: 10px;
        @include breakpoint(xlarge){
            margin-right: 160px;
        } 
    }
    &__sing_in{
        @include breakpoint(large){
            margin-right: 45px;
        } 
        a:hover{
            color:$header-link;
        }
        img{
            margin-right:15px;
        }
        img:hover{
            color:$header-link;
        }

    }
    &__languages{
        position: relative;
        color: white;
        font-size: 15px;
        cursor: pointer;
        margin-top:-7px;
        &__content {
            list-style: none;
            margin-left:0;
            display: none;
            position: absolute;
            background-color: #ffffff;
            z-index: 1;
            a {
                color: black;
                text-decoration: none;
                margin:5px 0;
                
            }
            a:hover {
                background-color: #f6f6f6;}
        }
    }
    
    }
    
    .navigation{
        padding:20px 0 0 10px;
        
        ul{
            padding-top:20px;
           
        }
        a{
            padding: 10px;
             color: $black;
        }
   
        :hover{
            color:$header-link;
            background:$medium-gray;
        }
    }
    
    .header-header{
        background: #ffffff;
        padding: 22px 0 5px 0;
        
    }
    .ba-header-bar__left{
        p{
            color:$secondary-color;
            font-size: 12px;
            line-height: 2;
        }
    }
    .ba-main-menu{
        color: white;
        font-size: 15px;
        cursor: pointer;
        li{
            
            list-style:none;
            font-size: 15px;
            line-height: 29px;
        }
        &__item{
            padding-right: 50px;
            cursor: pointer;
            a{
                
                padding-left:0;
                color:#000000;
                &:hover{
                    color:#f42f2f;
                }
            }
        }
        &__blog__submenu{
            margin-left:-15px;
            display: none;
            position: absolute;
            background-color: #ffffff;
            z-index: 1;
            a{
                padding:15px 15px;
                
                
            }
            li:hover{
                background: #f6f6f6;
            
            }
            
        }
        &__service__submenu{
            margin-left:-15px;
            display: none;
            position: absolute;
            background-color: #ffffff;
            z-index: 1;
            
            a{
                padding:15px 15px;
            }
            li:hover{
                background: #f6f6f6;
            }
        }
    
        &__button{
            padding:16px 25px;
            border:1px solid #555555;
            &:hover{
                background:$success-color;
                border:none;
                   color:$white;
            }
        }
    }
.header_catalog{
    background: $white;
   position: relative;
   display: block;
   &__button{
    background:$button-background-hover;
    padding:29px;
   }
}
#primary-menu{
    a{
        color:#262626;
    }
    
}
    #secondary-menu{
    display: none;

    li{
        margin:13px 0;
        a{
        color:#262626;
        &:hover{
            background: #f6f6f6;
        }
    }
    }
}

.input-group{
    background-image: url('../../img/search.png');
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
}
.header__compare{
    svg{
        color:$black;
    }
}
.form-registration{
    &__title{
        margin:0 0 32px;
    }
   &__button{
       background: $white;
       border:1px solid $button-background-hover;
       font-size: 15px;
       font-weight: 700;
       &:hover{
           background: $button-background-hover;
       }
   }
    
    &-checkbox{
        p{
            margin-right: 50px;
        }
    }
    
    &__text{
        font-size: 13px;
    }
    &-signin{
        svg{
            fill:#ff2b2b;
        }
    }
       
    
}