<footer class="footer">
    <div class="footer__item">
    <div class="row">
        <div class="column  small-12 large-3  align-center">
            <h4 class="footer__title text-justify">Подписаться на рассылку акционных предложений</h4>
                <form class="form-registration-group">
                      <input class="form-registration-input"  type="email" required placeholder="Ваша электронная почта*">
                      <button class="button form-registration__button">
                            Подписаться
                        </button>  

                      <div class="form-registration-member-socials">
                    <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
                            <img src="{{root}}assets/img/instagram_footer.png" alt="Instagram">

                    </a>
                    <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
                        <img src="{{root}}assets/img/facebook_footer.png" alt="Facebook">

                </a>

                <a href="https://www.Youtube.com/" target="_blank" aria-label="Youtube">
                    <img src="{{root}}assets/img/youtube.png" alt="Youtube">

            </a>

            <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
                <img src="{{root}}assets/img/instagram_footer.png" alt="Instagram">

        </a>

                </div>
                <!--/form-registration-member-signin  -->
                    </form>
        </div>
        <!-- /column small-12 large-3 -->
        <!-- /.column small-6 -->
           
                <div class="column large-2 show-for-medium">
                    <div class="footer__categories">
                    <h5>
                            Категории
                    </h5>
                    <ul>
                        <li>
                            <a href=""> Электроинструмент</a>
                        </li>
                        <li>
                                <a href=""> Аккумуляторный инструмент</a>
                            </li>
                            <li>
                                    <a href=""> Садовый  инструмент</a>
                                </li>
                                <li>
                                        <a href=""> Оборудование</a>
                                    </li>
                                    <li>
                                            <a href=""> Запчасти</a>
                                        </li>
                                        <li>
                                                <a href=""> Акции</a>
                                            </li>
                    </ul>
                </div>
                <!--/footer__categories  -->
                </div>
                <!-- / column large-2-->
                <div class="column large-2 show-for-medium">
                        <div class="footer__menu">
                        <h5>
                                Меню
                        </h5>
                        <ul>
                            <li>
                                <a href="">  Доставка и оплата</a>
                            </li>
                            <li>
                                    <a href=""> Новости</a>
                                </li>
                                <li>
                                        <a href=""> Видео</a>
                                    </li>
                                    <li>
                                            <a href=""> Контакты</a>
                                        </li>
                                       



                        </ul>
                    </div>
                    <!--/footer__categories  -->
                    </div>
                    <!-- / column large-2-->
                    <div class="column large-2 show-for-medium">
                            <div class="footer__help">
                            <h5>
                                    Помощь
                            </h5>
                            <ul>
                                <li>
                                    <a href="">  Сервисное обслуживание</a>
                                </li>
                                <li>
                                        <a href=""> Получить доп.гарантию</a>
                                    </li>
                                    <li>
                                            <a href=""> Условия  сотрудничества</a>
                                        </li>
                                        <li>
                                                <a href=""> Задать вопрос</a>
                                            </li>
                                            <li>
                                                    <a href="">Справочные материалы</a>
                                                </li>
                                               
                            </ul>
                        </div>
                        <!--/footer__categories  -->
                        </div>
                        <!-- / column large-2-->
                        <div class="column large-2 show-for-medium">
                                <div class="footer__help">
                                <h5>
                                        Контакты
                                </h5>
                                <ul>
                                    <li>
                                        <a href="">  0-800-338-571</a>
                                    </li>
                                    <li>
                                              График работы <br> Call-центра
                                        </li>
                                        <li>
                                                Пн-Пт:  8:00 - 21:00 <br>
                                                        Сб:  9:00 - 20:00 <br>
                                                        Вс:  10:00 - 19:00   
                                            </li>
                                                   
                                </ul>
                            </div>
                            <!--/footer__categories  -->
                            </div>
                            <!-- / column large-2-->
    
    </div>
    <!-- /.row-->
</div>
<!-- /footer__item -->
    <div class="row">
            <div class="column small-12">
                    <div class="ba-copyright flex-container show-for-medium align-center">
                       © 2019. Все права защищены.
                    </div>
                    <!-- end/ba-copyright -->
                </div>
        
    </div>
    <!-- / row-->
</footer>
<!-- /.ba-footer -->