<nav>
    <ul class="menu vertical navigation">
          

            <li class="align-center"{{#ifpage 'index'}}{{/ifpage}}>
                <a href="index.html">USD  28.17</a>
            </li>
        <li {{#ifpage 'index'}}{{/ifpage}}>
            <a href="index.html">Доставка и оплата</a>
        </li>
        <li {{#ifpage 'index'}}{{/ifpage}}>
            <a href="index.html">Блог</a>
        </li>
        <li {{#ifpage 'index'}}{{/ifpage}}>
            <a href="index.html">Контакты</a>
        </li>
        <li {{#ifpage 'index'}}{{/ifpage}}>
            <a href="index.html">Помощь</a>
        </li>
        <li {{#ifpage 'index'}}{{/ifpage}}>
            <a href="index.html">Вход /</a>
            <a href="index.html"> Регистрация</a>
        </li>

    </ul>
</nav>